* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow-x: hidden;
}

.container {
    padding-left: 12%;
    padding-right: 12%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.visible-sm {
    display: none;
}

button {
    cursor: pointer;
}


/* start header */
header {
    height: 677px;
    position: relative;
}

header.companies-header {
    height: 600px;
}

header.companies-header .container {
    padding-left: 13.47%;
    padding-right: 13.47%;
}

header.about-us-header {
    height: auto;
}

header.faq-header {
    height: 100vh;
}

/* start main menu */
.top-menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    background: #fff;
    z-index: 99999;
}

.top-menu,
.logo {
    overflow: hidden;
}

.top-menu .logo {
    height: 77px;
    width: 116px;
}

.top-menu .navbar {
    position: absolute;
    right: 13.57%;
    top: 24px;
    height: 30px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    position: absolute;
    height: 16px;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 9999;
}

.navbar-toggler span {
    height: 2px;
    width: 20px;
    background: #f15a29;
    display: block;
    margin: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-toggler span:first-child,
.navbar-toggler span:nth-child(2) {
    margin-bottom: 5px;
}

.rotate-minus-40 {
    -webkit-transform: rotate(-42deg);
    transform: rotate(-42deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

.hidden {
    opacity: 0;
}

.rotate-plus-40 {
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

.df {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.pabs {
    position: absolute
}

.top-menu .navbar ul {
    list-style-type: none;
    float: left;
    margin: 0;
    -webkit-padding-start: 0;
    padding: 0;
}

.top-menu .navbar li {
    display: inline-block;
    margin: 0 10px;
}

.top-menu .navbar li a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    color: rgba(65, 64, 66, 1.0);
    text-align: center;
}

.top-menu .navbar li.active a {
    color: #F15A29
}

.top-menu .primary-button {
    font-size: 12px;
    height: 32px;
    width: 89px;
    margin: 0;
    border-radius: 16px;
    border: 1px solid #F15A29;
    margin-left: 15px;
}

.top-menu .login {
    background: transparent;
    color: #f15a29;
}

.top-menu .sign-up {
    background: #f15a29;
    color: #fff;
}

/* end main menu */
/* start banner */
header .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(img/home-clouds.png);
    background-size: cover;
    overflow: hidden;
}

header.about-us-header .banner {
    background: url('../img/about-us-dsc06349@4x.jpg');
    background-size: cover;
    background-position: center;
    height: 381px;
}

.faq-header .banner {
    height: 80%;
}

.faq-buttons {
    display: flex;
    justify-content: center;
}

header .banner form {
    position: relative;
    z-index: 100;
}

header .banner input {
    height: 40px;
    background: #ededed;
    color: rgba(65, 64, 66, 0.63);
    border: none;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
    margin: 0;
    margin-top: 24px;
    font-size: 18px;
    font-weight: normal;
    width: 210px;
}

header .banner input::-webkit-input-placeholder {
    color: rgba(65, 64, 66, 0.63);
}

header .banner input:-ms-input-placeholder {
    color: rgba(65, 64, 66, 0.63);
}

header .banner input::placeholder {
    color: rgba(65, 64, 66, 0.63);
}

header .banner input:focus {
    outline: none
}

header .banner button {
    font-size: 18px;
    border: none;
    background: #f15a29;
    height: 40px;
    color: #fff;
    padding: 0 20px;
    border-radius: 0 20px 20px 0;
    margin: -5px;
    font-weight: normal;
}

header .banner h1 {
    font-size: 64px;
    line-height: 78px;
    font-weight: normal;
    color: #414042;
    width: 362px;
    margin-top: 110px;
    margin-bottom: 0;
}

header.about-us-header .banner h1 {
    font-family: "HelveticaNeue-CondensedBlack", Helvetica, Arial, serif;
    font-size: 48px;
    line-height: 59px;
    font-weight: normal;
    color: #fff;
    width: 100%;
    text-align: center;
    margin-top: 136px;
}

header.companies-header .banner h1 {
    width: auto;
    max-width: 736px;
    color: #000;
    margin-top: 140px;
}

header .banner p {
    max-width: 360px;
    left: 1px;
    font-family: "HelveticaNeue", Helvetica, Arial, serif;
    font-size: 20px;
    color: #414042;
    line-height: 24px;
    margin-top: 10px;
}

header .banner h1,
header .banner p {
    z-index: 8888;
    position: relative;
}

header .banner img {
    max-width: 100%
}

@-webkit-keyframes animateToLeft40 {
    0% {
        opacity: 0;
        -webkit-transform: translate(40px, 0);
        transform: translate(40px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes animateToLeft40 {
    0% {
        opacity: 0;
        -webkit-transform: translate(40px, 0);
        transform: translate(40px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes animateToLeft25 {
    0% {
        opacity: 0;
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes animateToLeft25 {
    0% {
        opacity: 0;
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

header .banner img.artwork-1 {
    position: absolute;
    left: 29.98%;
    top: 211px;
    height: 323px;
    width: 727px;
    opacity: 0;
    -webkit-animation: animateToLeft40 1s ease-in-out forwards;
    animation: animateToLeft40 1s ease-in-out forwards;
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}

header.companies-header .banner img.artwork-1 {
    position: absolute;
    left: 32.81%;
    top: 194px !important;
    height: auto;
    width: 879px;
    opacity: 0;
    z-index: 100;
    -webkit-animation: animateToLeft40 1s ease-in-out forwards;
    animation: animateToLeft40 1s ease-in-out forwards;
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}

header .banner img.artwork-2-1 {
    position: absolute;
    left: 50%;
    top: 151px;
    height: 427px;
    width: 507px;
}

header.companies-header .banner img.artwork-2 {
    position: absolute;
    top: 216px !important;
    height: auto;
    width: 629px;
    left: 53.81%;
    z-index: 101;
}

header .banner img.artwork-3 {
    position: absolute;
    left: 38.67%;
    top: 270px;
    height: 217px;
    width: 597px;
    opacity: 0;
    -webkit-animation: animateToLeft25 1s ease-in-out forwards;
    animation: animateToLeft25 1s ease-in-out forwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

/* end banner */
/* end header */
/* start our process */
.our-process {
    background: url(../img/home-path-2.svg);
    background-size: cover;
    padding: 60px 0;
    position: relative;
}

.selection-process {
    background: url(../img/company-path-2.svg);
    background-size: cover;
}

.our-process .bullet {
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #fff;
}

.our-process .bullet-2 {
    left: 39.5%;
}

.our-process .bullet-3 {
    left: 50%;
}

.our-process .bullet-4 {
    left: 54%;
}

.our-process h2,
.our-process p,
.our-process h3 {
    color: #fff;
    text-align: left;
}

.our-process h2 {
    font-size: 64px;
}

.our-process .container>p:first-of-type {
    margin-left: auto;
    text-align: right;
}

.our-process h2:nth-of-type(1) {
    margin-left: auto;
    width: 747px;
    font-size: 64.0px;
    color: #fff;
    text-align: right;
    font-weight: normal;
    margin-bottom: 0;
}

.selection-process .title h2,
.selection-process .title p {
    color: #414042;
}

.our-process .step:nth-of-type(2) h3,
.our-process .step:nth-of-type(4) h3,
.our-process .step:nth-of-type(2) p,
.our-process .step:nth-of-type(4) p {
    margin-left: auto;
    text-align: right;
}

.our-process img {
    width: 160px;
}

.our-process .timeline-path {
    width: 100%;
    position: absolute;
    top: 420px;
    left: 0;
    height: 1507px;
}

.our-process .timeline-path-sm {
    background: #fff;
    width: 4px;
    height: 100%;
    position: absolute;
    top: 430px;
    left: 4%;
}

.our-process .start-artwork {
    height: 193px;
    width: auto;
}

.our-process .end-artwork {
    width: auto;
    height: 220px;
}

.our-process .step {
    position: absolute;
}

.our-process .step-1 {
    top: 411px;
    width: 605px;
    margin: 0;
    left: 19.10%;
}

.our-process .step-1 h3 {
    font-size: 36px;
    line-height: 44px;
    top: 0;
    margin: 0;
    font-weight: normal;
}

@-webkit-keyframes animateOnScrollToLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes animateOnScrollToLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes animateOnScrollToRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(-25px, 0);
        transform: translate(-25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes animateOnScrollToRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(-25px, 0);
        transform: translate(-25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.our-process .step h3,
.our-process .step p {
    opacity: 0;
}

.animatedOnScrollToLeftForward {
    -webkit-animation: animateOnScrollToLeft .4s ease-in-out forwards;
    animation: animateOnScrollToLeft .4s ease-in-out forwards;
}

.animatedOnScrollToLeft {
    -webkit-animation: animateOnScrollToLeft .4s ease-in-out;
    animation: animateOnScrollToLeft .4s ease-in-out;
}

.animatedOnScrollToRight {
    -webkit-animation: animateOnScrollToRight .4s ease-in-out;
    animation: animateOnScrollToRight .4s ease-in-out;
}

.animatedOnScrollToRightForward {
    -webkit-animation: animateOnScrollToRight .4s ease-in-out forwards;
    animation: animateOnScrollToRight .4s ease-in-out forwards;
}

.our-process .step-2 {
    top: 620px;
    left: 50%;
    width: 396px;
}

.our-process .step-2 h3 {
    width: 381px;
}

.our-process .step-2 p {
    width: 100%;
}

.our-process .step-3 {
    top: 890px;
    left: 12%;
    width: 29%;
}

.our-process .step-3 h3 {
    width: 405px;
}

.our-process .step-3 p {
    width: 100%;
}

.our-process .step-4 {
    top: 1174px;
    left: 66%;
    width: 25%;
}

.our-process .step-5 {
    top: 1820px;
    left: 42%;
    width: 50%;
}

.our-process .step-2,
.our-process .step-4 {
    text-align: right;
}

.our-process h3 {
    font-size: 36px;
    line-height: 44px;
    top: 0;
    margin: 0;
    font-weight: normal;
    margin-bottom: 12px;
}

.our-process p {
    font-size: 24px;
    margin: 0;
}

.our-process .title p {
    text-align: right;
    width: 657px;
    font-family: "HelveticaNeue", Helvetica, Arial, serif;
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
    margin-top: 0;
}

.selection-process .company-path {
    height: 1241px;
    width: 908px;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.selection-process .step-title {
    margin: 0;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    transition: all .2s ease-in-out;
}

.selection-process .step-title span {
    opacity: 0;
    display: block;
}

.selection-process .step-description {
    font-family: sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 24px;
    line-height: 29px;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    text-align: center;
    transition: all .2s ease-in-out;
}

.our-process.selection-process .step {
    left: 0 !important;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    height: auto;
}

.our-process.selection-process .step-content {
    position: relative;
}

.our-process.selection-process .step-1 {
    top: 440px;
    width: 789px;
}

.our-process.selection-process .step-1 .step-title {
    top: 6px
}

.our-process.selection-process .step-1 hr {
    width: 782px;
}

.our-process.selection-process .step-2 {
    top: 579px;
    width: 689px;
}

.our-process.selection-process .step-2 hr {
    width: 685px;
}

.our-process.selection-process .step-3 {
    top: 715px;
    width: 689px;
}

.our-process.selection-process .step-3 hr {
    width: 584px;
}

.our-process.selection-process .step-4 {
    top: 849px;
    width: 577px;
}

.our-process.selection-process .step-4 hr {
    width: 493px;
}

.our-process.selection-process .step-5 {
    top: 989px;
    width: 499px;
}

.our-process.selection-process .step-5 .step-title {
    top: 25px
}

.our-process.selection-process .step-5 hr {
    width: 407px;
}

.our-process.selection-process .step-6 {
    top: 1159px;
    width: 397px;
}

.our-process.selection-process .step-6 .step-title {
    top: 40px
}

.our-process.selection-process .step-6 hr {
    width: 329px;
}

.our-process.selection-process .step-7 {
    top: 1346px;
    width: 331px;
}

.our-process.selection-process hr {
    border: 1px solid #fff;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.our-process.selection-process .step-5 hr {
    top: 133px;
}

.our-process.selection-process .step-6 hr {
    top: 158px;
}

.our-process .artwork {
    position: absolute;
}

.our-process .artwork-1 {
    position: absolute;
}

.our-process .artwork-2 {
    left: 86%;
}

/* end our process */
/* start how it works */
.how-it-works {
    padding: 60px 0;
    opacity: 0;
}

.how-it-works.companies-how-it-works {
    padding-top: 300px
}

.how-it-works .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.animatedOnScrollToTop {
    -webkit-animation: animationOnScrollToTop .4s ease-in-out forwards;
    animation: animationOnScrollToTop .4s ease-in-out forwards;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

@-webkit-keyframes animationOnScrollToTop {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 25px);
        transform: translate(0, 25px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes animationOnScrollToTop {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 25px);
        transform: translate(0, 25px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

.how-it-works .feature {
    float: left;
    overflow: hidden;
    text-align: center;
    width: 252px;
}

.how-it-works h2 {
    font-size: 48px;
    color: #414042;
    font-weight: normal;
    margin-bottom: 0;
}

.how-it-works.companies-how-it-works h2 {
    font-size: 36px;
    line-height: 44px;
}

.how-it-works p {
    font-size: 18px;
    color: #414042;
    line-height: 22px;
    padding: 30px;
    font-family: sans-serif;
    font-weight: normal;
}

.how-it-works.companies-how-it-works p {
    padding: 10px;
}

/* end how it works */
/* start testimonials */
.testimonials {
    text-align: center;
    opacity: 0;
}

.testimonials .testimonial {
    font-weight: 600;
    font-style: italic
}

.testimonials .customer-name {
    font-style: normal;
}

.testimonials .customer-img {
    padding: 0;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
}

.testimonials .customer-img .future-pacific-logo {
    position: absolute;
    right: 0;
    bottom: 0;
}

.testimonials p {
    font-size: 24px;
    color: #414042;
    line-height: 29px;
    width: 82%;
    margin: auto;
    font-style: italic;
}

.testimonials .achievements .achievement p {
    width: 209px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
}

.testimonials .achievements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin: 40px;
}

.testimonials .customer-name {
    font-size: 24px;
    color: rgba(74, 73, 74, 0.79);
    line-height: 29px;
}

/* end testimonials */
/* start cta */
.cta {
    padding: 80px 0;
    text-align: center;
    opacity: 0;
}

.cta button {
    background: #f15a29;
    color: #fff;
    height: 54px;
    width: 213px;
    border-radius: 27px;
    font-size: 24px;
    border: none;
}

.cta button.learn-more {
    background: #ecf0f1;
    color: #4a494a;
    margin: 60px 14px;
}

.cta h2 {
    font-size: 36px;
    color: #414042;
    font-weight: normal;
    margin-bottom: 0;
}

.cta.companies-cta h2 {
    font-size: 36px;
    line-height: 44px;
}

/* end cta */
/* start about us | our mission */
.our-mission h2 {
    font-size: 48px;
    line-height: 58px;
    color: #414042;
    font-weight: normal;
    margin-top: 109px;
}

.our-mission p {
    font-size: 36px;
    line-height: 43px;
    color: #414042;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    font-weight: normal;
}

/* end about us | our mission */
/* start about us | our story */
.our-story {
    padding: 20px;
    padding-bottom: 150px;
}

.our-story h2 {
    font-size: 48px;
    line-height: 58px;
    color: #414042;
    font-weight: normal;
    text-align: center
}

.our-story p {
    background-color: rgba(255, 255, 255, 0.0);
    max-width: 749px;
    font-family: "HelveticaNeue", Helvetica, Arial, serif;
    font-size: 24px;
    line-height: 29px;
    color: #414042;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.our-story p.quote {
    max-width: 601px;
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-left: auto;
    margin-right: auto;
}

.our-story .quote span {
    display: block;
    margin-top: 30px;
}

/* end about us | our story */
/* start about us | our history */
.our-history {
    background: url('../img/about-us-path-3.svg');
    background-size: cover;
    height: 2006px;
    position: relative;
    padding-top: 120px;
}

.our-history h2 {
    padding-left: 13.54%;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 48px;
    line-height: 58px;
    color: #414042;
    font-weight: normal;
}

.our-history .step .step-date,
.our-history .step .step-description {
    font-family: "HelveticaNeue-BoldItalic", Helvetica, Arial, serif;
    font-size: 24px;
    line-height: 29px;
    color: #414042;
    opacity: 0;
}

.our-history .step .step-date {
    position: absolute;
    left: 18%;
    text-align: right;
    font-family: sans-serif;
    font-weight: bold;
}

.our-history .step {
    position: absolute;
    width: 100%;
}

.our-history .step .step-description {
    position: absolute;
    left: 38.5%;
    width: 47%;
    font-family: sans-serif;
    font-weight: normal;
}

.our-history .step-1 {
    top: 200px;
}

.our-history .step-1 .step-date,
.our-history .step-1 .step-description {
    top: 110px;
}

.our-history .step-2 .step-date,
.our-history .step-2 .step-description {
    top: 394px;
}

.our-history .step-3 .step-date,
.our-history .step-3 .step-description {
    top: 420px;
}

.our-history .step-4 .step-date,
.our-history .step-4 .step-description {
    top: 480px;
}

.our-history .step-5 .step-date,
.our-history .step-5 .step-description {
    top: 565px;
}

.our-history .step-6 .step-date,
.our-history .step-6 .step-description {
    top: 580px;
}

.our-history .step-7 .step-date,
.our-history .step-7 .step-description {
    top: 646px;
}

.our-history .step-8 .step-date,
.our-history .step-8 .step-description {
    top: 868px;
}

.our-history .step-2 {
    top: 300px;
}

.our-history .step-3 {
    top: 400px;
}

.our-history .step-4 {
    top: 500px;
}

.our-history .step-5 {
    top: 600px;
}

.our-history .step-6 {
    top: 700px;
}

.our-history .step-7 {
    top: 800px;
}

.our-history .step-8 {
    top: 900px;
}

.vertical-timeline {
    height: 1776px;
    width: 34px;
    position: absolute;
    top: 250px;
    left: 31.3%;
}

.vertical-timeline .vertical-line {
    width: 4px;
    height: 100%;
    background: #f15a29;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.vertical-timeline .arrow-down {
    width: 0;
    height: 0;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid #f15a29;
    position: absolute;
    bottom: -8px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.vertical-timeline .bullet {
    border: 4px solid #4a4a4a;
    background: #fff;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.vertical-timeline .bullet-1 {
    top: 56px;
}

.vertical-timeline .bullet-2 {
    top: 440px;
}

.vertical-timeline .bullet-3 {
    top: 564px;
}

.vertical-timeline .bullet-4 {
    top: 727px;
}

.vertical-timeline .bullet-5 {
    top: 911px;
}

.vertical-timeline .bullet-6 {
    top: 1029px;
}

.vertical-timeline .bullet-7 {
    top: 1193px;
}

.vertical-timeline .bullet-8 {
    top: 1517px;
}

/* end about us | our history */
/* start about us | our team */
.our-team h2 {
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 48px;
    line-height: 58px;
    color: #414042;
    font-weight: normal;
    position: relative;
    right: 12%;
}

.our-team .row .member {
    width: 28%;
    margin: 2%;
    float: left;
}

.our-team .member .member-picture {
    height: 303px;
    width: 240px;
    position: relative;
    overflow: hidden;
}

.our-team .member .member-picture,
.our-team .member .member-name,
.our-team .member .member-position {
    margin-left: auto;
    margin-right: auto;
}

.our-team .member .member-picture img {
    position: absolute;
    top: -44px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.our-team .member .member-picture .member-picture-container {
    background: #ecf0f1;
    width: 240px;
    height: 244px;
    border-radius: 60px;
    position: absolute;
    bottom: 0;
    transition: all .4s ease-in-out
}

.our-team .member:hover .member-picture .member-picture-container {
    background: #f15a29;
}

.our-team .member-1 .member-picture img {
    height: auto;
    width: 191px;
}

.our-team .member-2 .member-picture img {
    height: auto;
    width: 244px
}

.our-team .member-3 .member-picture img {
    height: auto;
    width: 191px
}

.our-team .member-7 .member-picture img {
    height: auto;
    width: 212px
}

.our-team .member-8 .member-picture img {
    height: auto;
    width: 141px
}

.our-team .member-9 .member-picture img {
    height: auto;
    width: 147px
}

.our-team .member .member-name {
    width: 240px;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 24px;
    line-height: 29px;
    color: #414042;
    text-align: center;
    margin-top: 16px;
}

.our-team .member .member-position {
    width: 240px;
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 18px;
    line-height: 22px;
    color: #414042;
    text-align: center;
}

/* end about us | our team */
/* start about us | contact us */
.contact-us {
    padding-top: 160px;
}

.contact-us iframe {
    width: 100%;
    float: right;
}

.contact-us .contact-details {
    float: left;
    width: 50%;
    padding-right: 10%;
}

.contact-us .map {
    position: relative;
    top: -130px;
    width: 50%;
    float: left;
    overflow: hidden;
}

.contact-us h2 {
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    font-size: 48px;
    font-weight: normal;
    line-height: 58px;
    color: #414042;
    margin-bottom: 0;
}

.contact-us p {
    font-family: "HelveticaNeue", Helvetica, Arial, serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 29px;
    color: #414042;
}

/* end about us | contact us */
/* start header | FAQ page */
.faq-header {
    height: 100vh;
}

.faq-header .banner h1 {
    width: 100%;
    font-size: 48px;
    line-height: 58px;
}

.faq-header .banner button {
    background-color: #ecf0f1;
    color: #414042;
    height: 67px;
    width: 345px;
    border-radius: 33px;
    margin: 23px;
}

/* end header | FAQ page */
/* start footer */
footer {
    background: url(../img/home-path-6.svg);
    background-size: cover;
    padding: 60px 0;
    padding-top: 120px;
}

footer .container {
    overflow: visible
}

footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer .col {
    float: left;
    position: relative;
}

footer .col-1x {
    width: 20%;
}

footer .col-2x {
    width: 40%;
    padding-right: 16%;
}

footer .company-logo {
    position: absolute;
    left: 0;
    top: -80px;
}

footer ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    padding: 0;
}

footer ul li a {
    font-size: 16px;
    color: #000;
    line-height: 26px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

footer ul li a:hover,
footer li a:focus {
    color: #f15a29;
    text-decoration: none;
}

footer p {
    font-size: 18px;
    color: #000;
    line-height: 23px;
    font-weight: normal;
}

footer p span {
    font-weight: 600;
}

footer p .mail {
    color: #f15a29;
}

footer p .mail:hover,
footer p .mail:focus {
    text-decoration: none;
}

footer .follow-us img {
    width: 24px;
}

footer .copyright {
    font-size: 12px;
    color: #909090;
}

/* end footer */
/* media queries */
@media screen and (max-width: 1280px) {
    .our-process .bullet-2 {
        left: 39.5%;
    }

    .our-process .bullet-4 {
        left: 54%;
    }

    .our-process .step-5 {
        left: 13%;
        width: 54%;
    }

    .our-process .end-artwork {
        width: auto;
        height: 156px;
    }

    .our-process .artwork-2 {
        left: auto;
        right: 19px;
    }

    .our-process .step-2 {
        width: 33%;
    }

    .our-process .step-3 {
        left: 7.5%;
        width: 30%;
    }

    .our-process .step-4 {
        left: 66%;
        width: 28%;
    }
}

@media screen and (max-width: 1024px) {
    .top-menu {
        overflow: visible;
    }

    .top-menu .navbar {
        padding: 30px;
        display: none;
        background-color: #fff;
        width: 100vw;
        height: auto;
        border-bottom: 1px solid rgba(241, 90, 41, .5);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
    }

    .top-menu .navbar ul {
        float: none;
    }

    .top-menu .navbar li {
        display: block;
        margin: 16px;
    }

    .top-menu .navbar li a {
        font-size: 14px;
    }

    .top-menu .primary-button {
        font-size: 14px;
    }

    nav .primary-button {
        margin: 0;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    header .banner h1 {
        font-size: 44px;
        margin-top: 25%;
        line-height: 64px;
        width: 50%;
    }

    nav {
        background: #fff;
        border-bottom: 1px solid #f15a29;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .faq-header .banner button {
        height: 60px;
        width: 220px;
        border-radius: 30px;
        float: left;
        margin: 20px 10px;
    }

    .our-process .step-1 {
        width: 70%;
        left: 26%;
    }

    .our-process .step-2 {
        top: 620px;
        left: 50%;
        width: 40%;
    }

    .our-process .step-3 {
        left: 6%;
        width: 39%;
    }

    .our-process .step-4 {
        left: 65%;
        width: 34%;
    }

    .our-process .step-5 {
        left: 13%;
        width: 67%;
    }

    .our-process .end-artwork {
        width: auto;
        height: 156px;
    }

    .our-process .artwork-2 {
        left: auto;
        right: 19px;
    }

    .how-it-works .features {
        display: block;
    }

    .how-it-works .feature {
        float: none;
        width: 100%;
    }

    .how-it-works p {
        padding: 5px;
    }

    .testimonials p {
        width: 100%;
    }

    .our-process {
        height: 2000px;
    }

    .our-process p {
        font-size: 24px;
        line-height: 30px;
    }

    .our-process h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .our-process .artwork-1,
    .our-process .artwork-2 {
        left: 1%;
    }

    .our-process .artwork-1 {
        top: 380px;
    }

    .our-process .artwork-2 {
        top: 1540px;
    }

    .our-process.main-process .bullet-2 {
        top: 725px;
    }

    .our-process.main-process .bullet-3 {
        top: 980px;
    }

    .our-process.main-process .bullet-4 {
        top: 1260px;
    }

    .our-process.main-process .timeline-path-sm {
        height: 1220px;

    }

    .timeline-path {
        display: none;
    }

    .our-process .bullet {
        height: 36px;
        width: 36px;
        left: 3%;
    }

    .our-process .start-artwork,
    .our-process .end-artwork {
        height: auto;
    }

    .our-process .start-artwork {
        width: 100px;
    }

    .our-process .end-artwork {
        width: 80px;
    }

    .our-process.main-process .step h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .our-process .step-1,
    .our-process .title,
    .our-process .step-5 {
        padding-left: 40px;
    }

    .our-process .title h2 {
        text-align: right;
        font-size: 64px;
    }

    .our-process .step {
        width: 60%;
        padding: 0;
        left: 25%;
    }

    .our-process.main-process .step-1 {
        top: 470px;
    }

    .our-process.main-process .step-2 {
        top: 720px;
    }

    .our-process.main-process .step-3 {
        top: 970px;
    }

    .our-process.main-process .step-4 {
        top: 1250px;
    }

    .our-process.main-process .step-5 {
        top: 1550px;
    }

    /* .our-process.selection-process .step-1, .our-process.selection-process .step-5 {
        margin-top: 60px;
    } */

    .our-process .step h3 {
        width: 100%;
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 6px;
    }

    .our-process .title p {
        text-align: right;
        font-size: 24px;
        line-height: 26px;
    }

    .how-it-works,
    .testimonials,
    .cta {
        padding: 40px 0;
    }

    .how-it-works h2 {
        font-size: 48px;
        line-height: 50px;
    }

    .how-it-works p {
        padding: 20px;
        line-height: 28px;
        margin: 0;
    }

    .testimonials p {
        font-size: 24px;
        line-height: 30px;
    }

    .testimonials .customer-name {
        font-size: 20px;
        line-height: 28px;
    }

    .cta button.learn-more {
        margin: 20px 10px;
    }

    .cta h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .cta button {
        height: 54px;
        width: 213px;
        border-radius: 27px;
        font-size: 18px;
    }

    /* Start Our history | About us page */
    .vertical-timeline {
        left: 13.8%;
    }

    .our-history .step .step-date,
    .our-history .step .step-description {
        left: 22.6%;
        width: 60%;
        text-align: left;
    }

    .our-history .step-1 .step-description {
        top: 145px;
    }

    .our-history .step-2 .step-description {
        top: 429px;
    }

    .our-history .step-3 .step-description {
        top: 455px;
    }

    .our-history .step-4 .step-description {
        top: 515px;
    }

    .our-history .step-5 .step-description {
        top: 600px;
    }

    .our-history .step-6 .step-description {
        top: 615px;
    }

    .our-history .step-7 .step-description {
        top: 681px;
    }

    .our-history .step-8 .step-description {
        top: 903px;
    }

    /* End Our history | About us page */
    footer {
        padding: 20px;
        padding-top: 160px;
    }

    footer .copyright {
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024.1px) {

    /* Start Header | Companies Page */
    header.companies-header .banner h1 {
        width: 450px !important;
    }

    /* End Header | Companies Page */

    .timeline-path-sm {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }

    .our-process .artwork-1 {
        top: 340px !important;
        left: 20px !important;
    }

    .our-process .bullet-2 {
        top: 691px !important;
    }

    .our-process .bullet-3 {
        top: 1150px !important;
    }

    .our-process .bullet-4 {
        top: 1585px !important;
    }

    .our-process .artwork-2 {
        top: 1750px !important;
    }

    /* Start Our mission | About us page */
    .our-mission p {
        max-width: 771px;
    }

    /* End Our mission | About us page */
}

@media screen and (min-width: 1366px) {
    .our-process .bullet-2 {
        left: 39.5%;
    }

    .our-process .bullet-3 {
        left: 50%;
    }

    .our-process .bullet-4 {
        left: 54%;
    }

    .our-process .end-artwork {
        width: auto;
        height: 159px;
    }

    .our-process .step-5 {
        left: 13.57%;
    }
}

@media screen and (max-width: 1440px) {
    .artwork-2-2 {
        display: none;
    }
}

@media screen and (min-width: 1440.1px) {
    header .banner img.artwork-1 {
        top: 215px;
        height: 469px;
        width: 1053px;
        left: 26.11%;
    }

    header .banner img.artwork-3 {
        top: 279px;
        height: 372px;
        width: 1020px;
        margin: 0;
        left: 26.94%;
    }

    .artwork-2-2 {
        display: block;
        top: 232px;
        height: 561px;
        width: 941px;
        position: absolute;
        left: 33.19%;
        z-index: 9;
    }

    .artwork-2-1 {
        display: none;
    }

    .top-menu .navbar li a {
        font-size: 14px;
    }

    .top-menu .navbar {
        width: 50%;
    }

    .our-process .bullet {
        height: 50px;
        width: 50px;
    }

    .our-process .bullet-2 {
        left: 39.5%;
    }

    .our-process .bullet-3 {
        left: 48%;
    }

    .our-process .bullet-4 {
        left: 55%;
    }

    /* Start Our team | About us page */
    .our-team .row .member {
        width: 21%;
    }

    /* End Our team | About us page */

    /* Start Selection process | Companies page */
    .our-process.selection-process {
        height: 1480px;
    }

    /* End Selection process | Companies page */

    /* Start How it works | Companies page */
    .how-it-works.companies-how-it-works h2 {
        font-size: 48px;
        line-height: 58px;
    }

    /* End How it works | Companies page */
    /* Start Features | Companies page */
    .how-it-works .feature {
        width: 296px;
    }

    /* End Features | Companies page */
}

@media screen and (min-width: 768.1px) {

    /* Start Selection process us | companies page */
    .our-process.selection-process .timeline {
        display: none;
    }

    /* End Selection process us | companies page */

    .selection-process .step:hover .step-title {
        opacity: 0 !important;
    }

    .selection-process .step:hover .step-description {
        opacity: 1;
    }
}

@media screen and (min-width: 768.1px) and (max-width: 1024px) {
    .our-process .start-artwork {
        width: 203px;
    }

    .our-process .end-artwork {
        width: 159px;
    }

    .our-process .timeline-path-sm {
        left: 75px;
    }

    .our-process .bullet {
        left: 58px;
    }

    .container {
        padding-left: 13.6%;
        padding-right: 13.6%;
    }

    .our-process .container {
        padding-left: 26%;
    }

    .our-process h2:nth-of-type(1) {
        width: auto
    }

    .our-process .title p {
        width: auto
    }

    /* Start Our mission | About us page */
    .our-mission p {
        max-width: 528px;
    }

    /* End Our mission | About us page */
    /* Start Our story | About us page */
    .our-story p {
        max-width: 620px;
    }

    /* End Our story | About us page */
    /* Start Our process */
    .our-process .step-1 {
        width: 459px;
    }

    .our-process .step-2 {
        width: 479px;
    }

    .our-process .step-3 {
        width: 481px;
    }

    .our-process .step-4 {
        width: 329px;
    }

    .our-process .step-5 {
        width: 508px;
    }

    /* End Our process */
    /* Start Our team | About us */
    .our-team .row .member {
        width: 40%;
        margin: 5%;
        float: left;
    }

    /* End Our team | about us page */
    /* Start Selection process | companies page */
    .our-process.selection-process {
        height: 1260px;
    }

    .our-process.selection-process .container {
        padding: 40px;
    }

    .our-process.selection-process .title {
        margin-bottom: 140px;
    }

    .selection-process .company-path {
        height: auto;
        width: 750px;
    }

    .selection-process .step-title {
        font-size: 28px;
        line-height: 38px;
    }

    .selection-process .step-description {
        font-size: 18px;
        line-height: 28px;
    }

    .our-process.selection-process .step-1 {
        top: 420px;
        width: 580px;
    }

    .our-process.selection-process .step-2 {
        top: 530px;
        width: 495px;
    }

    .our-process.selection-process .step-3 {
        top: 640px;
        width: 415px;
    }

    .our-process.selection-process .step-4 {
        top: 755px;
        width: 465px;
    }

    .our-process.selection-process .step-5 {
        top: 860px;
        width: 410px;
    }

    .our-process.selection-process .step-6 {
        top: 1010px;
        width: 300px;
    }

    .our-process.selection-process .step-7 {
        top: 1225px;
        width: 290px;
    }

    .selection-process .step-7 .step-description {
        top: -20px;
    }

    .our-process.selection-process .step hr {
        top: 70px;
    }

    .our-process.selection-process .step-1 hr {
        width: 580px;
    }

    .our-process.selection-process .step-2 hr {
        width: 495px;
    }

    .our-process.selection-process .step-3 hr {
        width: 415px;
    }

    .our-process.selection-process .step-4 hr {
        width: 325px;
    }

    .our-process.selection-process .step-5 hr {
        width: 230px;
        top: 122px;
    }

    .our-process.selection-process .step-6 hr {
        width: 230px;
        top: 150px;
    }

    /* Start Selection process | companies page */
    /* Start footer */
    footer .container {
        padding-left: 95px;
        padding-right: 95px;
    }

    /* End footer */
}

@media screen and (min-width: 1284px) and (max-width: 1399px) {
    header {
        overflow: hidden;
    }

    .our-process .end-artwork {
        width: auto;
        height: 170px;
    }

    .our-process .step-5 {
        left: 13%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    header .banner h1 {
        width: 100%;
    }

    header {
        height: auto;
    }

    header .banner p {
        width: 100%;
    }

    header .banner img.artwork-1,
    header .banner img.artwork-2-1,
    header .banner img.artwork-2-2,
    header .banner img.artwork-3 {
        position: absolute;
        height: auto;
        width: 100%;
        left: 0;
        top: 480px;
        z-index: 9;
    }

    header .banner img.artwork-2-1 {
        position: static;
    }

    /* Start header | companies page */
    header.companies-header .banner h1 {
        margin-top: 40px;
    }

    header.companies-header .banner img.artwork-2 {
        top: 361px !important;
        left: 13.47%;
        width: 540px;
    }

    /* End header | companies page */

    .faq-header .banner {
        height: 80%;
    }

    .our-process .timeline-path-sm {
        width: 5px;
        height: 100%;
        position: absolute;
        top: 270px;
        left: 7.5%;
    }

    .our-process .bullet {
        left: 5%;
    }

    .our-process .container {
        padding-left: 80px;
        padding-right: 40px;
    }

    .our-process .start-artwork,
    .our-process .end-artwork {
        height: auto;
    }

    .our-process .step p {
        width: 100%;
        font-size: 20px;
        line-height: 30px;
    }

    .our-process .title {
        padding: 0;
    }

    .our-process .title h2,
    .our-process .title p {
        width: 100%;
    }

    .how-it-works .features {
        display: block;
    }

    .how-it-works .feature {
        width: 100%;
    }

    /* Start contact us | about us page */
    .contact-us .contact-details,
    .contact-us .map {
        width: 100%;
    }

    /* End contact us | about us page */
    /* Start Selection process us | companies page */
    .our-process.selection-process {
        height: 1800px;
    }

    .selection-process .step-title,
    .selection-process .step-description {
        color: #414042;
        text-align: left;
    }

    .our-process.selection-process hr {
        display: none;
    }

    .vertical-timeline {
        height: 1400px;
    }

    .our-history .vertical-timeline {
        height: 1620px;
    }

    .our-process.selection-process .bullet {
        left: 0;
    }

    .our-process.selection-process .step {
        width: 65% !important;
        left: 20% !important;
    }

    .our-process.selection-process .step .step-title,
    .our-process.selection-process .step .step-description {
        position: static;
        font-family: sans-serif;
        font-weight: 400;
    }

    .our-process.selection-process .step .step-title {
        font-weight: bold;
    }

    .our-process.selection-process .container {
        padding: 20px;
    }

    .our-process.selection-process .title h2 {
        font-size: 28px;
        left: 38px;
    }

    .our-process.selection-process .title p {
        font-size: 16px;
        left: 26px;
        font-family: sans-serif;
        font-weight: normal;
    }

    .selection-process .step-title {
        font-size: 20px;
        line-height: 30px;
    }

    .selection-process .step-description {
        font-size: 16px;
        line-height: 26px;
    }

    .our-process.selection-process .step-1 {
        top: 280px;
    }

    .our-process.selection-process .step-2 {
        top: 460px;
    }

    .our-process.selection-process .step-3 {
        top: 660px;
    }

    .our-process.selection-process .step-4 {
        top: 860px;
    }

    .our-process.selection-process .step-5 {
        top: 1060px;
    }

    .our-process.selection-process .step-6 {
        top: 1260px;
    }

    .our-process.selection-process .step-7 {
        top: 1460px;
    }

    .our-process.selection-process .vertical-timeline .bullet-1 {
        top: 35px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-2 {
        top: 215px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-3 {
        top: 415px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-4 {
        top: 615px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-5 {
        top: 815px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-6 {
        top: 1015px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-7 {
        top: 1215px !important;
    }

    .company-path {
        display: none;
    }

    .how-it-works.companies-how-it-works {
        padding-top: 40px;
    }

    .how-it-works.companies-how-it-works .container {
        padding: 40px;
    }

    /* End Selection process us | companies page */
    .our-process .start-artwork {
        width: 140px;
    }

    .our-process .artwork-1,
    .our-process .artwork-2 {
        left: 20px;
    }

    .our-process .end-artwork {
        width: 112px;
    }

    .our-process .container {
        padding-left: 26%;
    }

    .our-process .timeline-path-sm {
        top: 400px;
        left: 65px;
    }

    .our-process .bullet {
        left: 49px;
    }

    .how-it-works h2 {
        font-size: 32px;
    }

    .how-it-works p {
        font-size: 16px;
    }

    .testimonials p {
        font-size: 16px;
        line-height: 26px;
    }

    .testimonials .customer-name {
        font-size: 14px;
        line-height: 24px;
    }

    .cta h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .cta button {
        height: 40px;
        width: 120px;
        border-radius: 20px;
        font-size: 14px;
    }

    /* Start footer */
    footer {
        padding-top: 100px;
    }

    footer .row {
        display: flex;
        flex-wrap: wrap;
    }

    footer .col {
        width: 100%;
    }

    /* End footer */
}

@media screen and (min-width: 576.1px) and (max-width: 768px) {
    .our-team .row .member {
        width: 40%;
        margin: 5%;
        float: left;
    }
}

@media screen and (max-width: 576px) {

    header .banner input,
    header .banner button {
        border-radius: 20px;
        margin-left: 0;
        margin-bottom: 16px;
        width: 50%;
        display: block;
    }

    header .banner button,
    header .banner input {
        width: 100%;
        display: block;
    }

    /* Start header | companies page */
    /* header.companies-header .banner h1 {
        margin-top: 40px;
    }

    header.companies-header .banner img.artwork-2 {
        top: 361px !important;
        left: 13.47%;
    } */
    /* End header | companies page */
    /* Start Header | About us page */
    header.about-us-header .banner {
        height: 180px;
        background-size: auto 180px;
        background-repeat: no-repeat;
    }

    header.about-us-header .banner h1 {
        margin-top: 80px;
        font-size: 28px;
        line-height: 28px;
    }

    /* End Header | About us page */
    /* Start Our mission | About us page */
    .our-mission h2 {
        margin-top: 40px;
    }

    /* End Our mission | About us page */

    .faq-header .banner h1 {
        font-size: 36px;
        line-height: 46px;
    }

    .faq-header .banner button {
        width: 90%;
        float: none;
        margin: 5%;
    }

    .faq-buttons {
        display: block !important;
    }

    /* End header | companies page */

    /* Start Our process | Students page */
    .our-process.main-process .start-artwork {
        width: 110px;
    }
    .our-process.main-process .end-artwork {
        width: 90px;
    }
    .our-process.main-process .timeline-path-sm {
        height: 1140px;
        top: 430px;
        left: 55px;
        width: 4px;
    }
    .our-process.main-process .bullet {
        left: 42px;
        width: 30px;
        height: 30px;
    }
    /* End Our process | Students page */

    /* Start How it works | companies page */
    .how-it-works.companies-how-it-works {
        padding-top: 40px;
    }

    .how-it-works.companies-how-it-works h2 {
        font-size: 24px;
        line-height: 34px;
    }

    /* End How it works | companies page */
    /* Start Testimonials | companies page */
    .testimonials.companies-testimonials .customer-img img {
        max-width: 80%
    }

    .testimonials.companies-testimonials .achievements {
        display: block;
    }

    .testimonials.companies-testimonials .achievements .achievement {
        margin-bottom: 20px;
    }

    .testimonials.companies-testimonials .achievements .achievement p {
        width: 100%;
        font-size: 16px;
    }

    /* End Testimonials | companies page */
    /* Start our mission & our story | About us */
    .our-story {
        padding-bottom: 40px;
    }

    .our-mission p,
    .our-story p {
        font-size: 16px;
        line-height: 26px;
    }

    .our-mission h2,
    .our-story h2 {
        font-size: 28px;
        line-height: 38px;
    }

    /* End Our mission & our story | About us */
    /* Start Our history | About us */
    .our-history h2 {
        padding-left: 20px;
        font-size: 28px;
    }

    .vertical-timeline {
        left: 20px;
    }

    .vertical-timeline .vertical-line {
        width: 3px;
    }

    .vertical-timeline .bullet {
        border: 3px solid #4a4a4a;
        width: 24px;
        height: 24px;
    }

    .vertical-timeline .arrow-down {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid #f15a29;
    }

    .our-history .step .step-date {
        font-size: 20px;
        font-weight: 600;
    }

    .our-history .step .step-description {
        font-size: 16px;
    }

    .our-process.selection-process .step {
        width: 75% !important;
        left: 10% !important;
    }

    /* End Our history | About us */
    /* Start Our team | About us */
    .our-team h2 {
        font-size: 28px;
        line-height: 38px;
    }

    .our-team .member .member-name {
        font-size: 20px;
    }

    .our-team .member .member-position {
        font-size: 16px;
    }

    .our-team .row .member {
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }

    /* End Our team | About us */
    /* Start contact us | About us */
    .contact-us {
        padding: 20px;
    }

    .contact-us h2 {
        font-size: 28px;
        line-height: 38px;
        margin-bottom: 0;
    }

    .contact-us p {
        font-size: 16px;
        line-height: 26px;
        ;
    }

    .contact-us iframe {
        margin-top: 20px;
    }

    .contact-us .map {
        top: 0;
    }

    /* End contact us | About us */
}

@media screen and (min-width: 576px) {
    header.companies-header .banner h1 {
        width: 350px;
    }
}

@media screen and (max-width: 442px) {
    header .banner h1 {
        font-size: 44px;
        line-height: 54px;
    }

    header .banner p {
        font-size: 18px;
        line-height: 24px;
    }

    .our-process {
        height: 1250px;
    }

    .our-process.main-process .start-artwork {
        width: 110px;
    }

    .our-process.main-process .end-artwork {
        width: 80px;
    }

    .our-process.main-process .timeline-path-sm {
        top: 300px;
        left: 44px;
        width: 3px;
        height: 650px;
    }

    .our-process.main-process .bullet {
        left: 36px;
        width: 18px;
        height: 18px;
    }

    .our-process .title h2 {
        font-size: 32px;
    }

    .our-process .title p {
        font-size: 13px;
        line-height: 20px;
    }

    .our-process .step h3 {
        width: 100%;
        font-size: 20px;
        line-height: 20px;
    }

    .our-process .step p {
        font-size: 13px;
        line-height: 20px;
    }

    .our-process .container {
        padding-right: 20px;
        padding-left: 25.78%;
    }

    .our-process.main-process .step {
        left: 26%;
        width: 64%;
    }

    .our-process .artwork-1,
    .our-process .artwork-2 {
        left: 8px;
    }

    .our-process .artwork-1 {
        top: 240px;
    }

    .our-process .artwork-2 {
        top: 1230px;
    }

    .our-process.main-process .step-1 {
        top: 290px;
    }

    .our-process.main-process .bullet-2 {
        top: 440px;
    }

    .our-process.main-process .bullet-3 {
        top: 610px;
    }

    .our-process.main-process .bullet-4 {
        top: 770px;
    }

    .our-process.main-process .artwork-2 {
        top: 920px;
    }

    .our-process.main-process .step-2 {
        top: 440px;
    }

    .our-process.main-process .step-3 {
        top: 608px;
    }

    .our-process.main-process .step-4 {
        top: 766px;
    }

    .our-process.main-process .step-5 {
        top: 916px;
    }

    .how-it-works {
        padding: 0;
        padding-bottom: 40px;
    }

    .how-it-works h2 {
        font-size: 26px;
        line-height: 26px;
    }

    .how-it-works p {
        font-size: 16px;
        font-size: 13px;
        line-height: 20px;
        padding-top: 10px;
    }

    .testimonials p {
        font-size: 14px;
        line-height: 21px;
    }

    .testimonials .customer-name {
        font-size: 13px;
        line-height: 20px;
    }

    .cta h2 {
        font-size: 22px;
        line-height: 28px;
    }

    .cta button {
        height: 32px;
        width: 110px;
        border-radius: 18px;
        font-size: 13px;
    }

    footer {
        padding-top: 80px;
    }

    footer p,
    footer ul li a {
        font-size: 13px;
        line-height: 20px;
    }

    footer .company-logo {
        position: absolute;
        left: 0;
        top: -40px;
        height: auto;
        width: 80px;
    }

    footer .col {
        width: 50%;
        padding-right: 22px;
    }

    footer h4 {
        font-size: 14px;
        margin-bottom: 8px
    }

    footer .follow-us img {
        width: 18px;
        height: auto;
        margin-right: 8px;
    }

    footer .visible-sm {
        display: block;
    }

    footer .hidden-sm {
        display: none;
    }
}

@media screen and (min-width: 1024.1px) and (max-width: 1440px) {
    .our-process {
        height: 2246px;
    }

    .our-process.selection-process {
        height: 1461px;
    }

    .our-process .title p {
        width: 657px;
    }

    .our-process .step-1 {
        top: 411px;
    }

    .our-process .step-2 {
        width: 396px;
        top: 639px;
    }

    .our-process .step-3 {
        width: 398px;
        top: 1098px;
    }

    .our-process .step-4 {
        width: 329px;
        top: 1533px;
    }

    .our-process .step-5 {
        width: 696px;
    }
}

@media screen and (min-width: 1440px) {
    header .banner p {
        width: 425px;
    }

    .our-process {
        height: 2246px;
    }

    .our-process .step-2 {
        width: 605px;
        top: 653px;
    }

    .our-process .step-3 {
        width: 520px;
        top: 1112px
    }

    .our-process .step-4 {
        left: 62%;
        width: 532px;
        top: 1547px;
    }

    .our-process .step-5 {
        left: auto !important;
        right: 18.40%;
        width: 788px;
    }

    .cta h2 {
        font-size: 48px;
    }

    .cta button {
        width: 200px;
    }
}

@media screen and (max-width: 376px) {
    .our-process.selection-process {
        height: 1860px;
    }

    .vertical-timeline {
        height: 1510px;
    }

    .our-process.selection-process .vertical-timeline .bullet-2 {
        top: 242px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-3 {
        top: 446px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-4 {
        top: 625px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-5 {
        top: 826px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-6 {
        top: 1057px !important;
    }

    .our-process.selection-process .vertical-timeline .bullet-7 {
        top: 1284px !important;
    }

    .our-process.selection-process .step-2 {
        top: 487px;
    }

    .our-process.selection-process .step-3 {
        top: 690px;
    }

    .our-process.selection-process .step-4 {
        top: 870px;
    }

    .our-process.selection-process .step-5 {
        top: 1070px;
    }

    .our-process.selection-process .step-6 {
        top: 1300px;
    }

    .our-process.selection-process .step-7 {
        top: 1526px;
    }

}