/*
primary color: #f15a29
secondary color: #414042
*/
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* border: 1px solid #f00; */
}

/* .wow {
    visibility: hidden
} */
html,
body {
    font-family: "HelveticaNeue-Medium", Helvetica, Arial, serif;
    margin: 0;
    padding: 0;
}

.container {
    padding-left: 12%;
    padding-right: 12%;
    width: 100%;
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* start header */
header {
    height: 677px;
    position: relative;
    /* overflow: hidden; */
}

/* start main menu */
/* ##### */
.top-menu {
    position: fixed;
    left: 0;
    top: 0;
    /* width: 100%; */
    width: 100vw;
    background: #fff;
    z-index: 99999;
}

.top-menu,
.logo {
    overflow: hidden;
}

.top-menu .logo {
    height: 77px;
    width: 116px;
}

.top-menu .navbar {
    position: absolute;
    right: 13.57%;
    top: 24px;
    height: 30px;
    /* width: 596px; */
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar-toggler {
    position: absolute;
    height: 16px;
    right: 30px;
    top: 30px;
    cursor: pointer;
    z-index: 9999;
}

.navbar-toggler span {
    height: 2px;
    width: 20px;
    background: #f15a29;
    display: block;
    margin: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.navbar-toggler span:first-child,
.navbar-toggler span:nth-child(2) {
    margin-bottom: 5px;
}

.rotate-minus-40 {
    -webkit-transform: rotate(-42deg);
    transform: rotate(-42deg);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    /* transform-origin: 100%; */
}

.hidden {
    opacity: 0;
}

.rotate-plus-40 {
    -webkit-transform: rotate(42deg);
    transform: rotate(42deg);
    /* transform-origin: 100%; */
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
}

.df {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.pabs {
    position: absolute
}

.top-menu .navbar ul {
    list-style-type: none;
    float: left;
    margin: 0;
    -webkit-padding-start: 0;
    padding: 0;
}

.top-menu .navbar li {
    display: inline-block;
    margin: 0 10px;
}

.top-menu .navbar li a {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    /* font-size: 12px; */
    font-size: 14px;
    color: rgba(65, 64, 66, 1.0);
    text-align: center;
}

.top-menu .navbar li.active a {
    color: #F15A29
}

.top-menu .primary-button {
    font-size: 12px;
    height: 32px;
    width: 89px;
    margin: 0;
    border-radius: 16px;
    border: 1px solid #F15A29;
    margin-left: 15px;
}

.top-menu .login {
    background: transparent;
    color: #f15a29;
}

.top-menu .sign-up {
    background: #f15a29;
    color: #fff;
}

/* end main menu */
/* start banner */
header .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(img/home-clouds.png);
    background-size: cover;
}

header .banner form {
    position: relative;
    z-index: 100;
}

header .banner input {
    height: 40px;
    background: #ededed;
    color: rgba(65, 64, 66, 0.63);
    border: none;
    border-radius: 20px 0 0 20px;
    padding-left: 20px;
    margin: 0;
    margin-top: 24px;
    font-size: 18px;
    font-weight: normal;
    width: 210px;
}

header .banner input::-webkit-input-placeholder {
    color: rgba(65, 64, 66, 0.63);
}

header .banner input:-ms-input-placeholder {
    color: rgba(65, 64, 66, 0.63);
}

header .banner input::placeholder {
    color: rgba(65, 64, 66, 0.63);
}

header .banner input:focus {
    outline: none
}

header .banner button {
    font-size: 18px;
    border: none;
    background: #f15a29;
    height: 40px;
    color: #fff;
    padding: 0 20px;
    border-radius: 0 20px 20px 0;
    margin: -5px;
    font-weight: normal;
}

header .banner h1 {
    font-size: 64px;
    line-height: 78px;
    font-weight: normal;
    color: #414042;
    width: 362px;
    margin-top: 110px;
    margin-bottom: 0;
}

header .banner p {
    width: 360px;
    left: 1px;
    font-family: "HelveticaNeue", Helvetica, Arial, serif;
    font-size: 20px;
    color: #414042;
    line-height: 24px;
    margin-top: 10px;
}

header .banner h1,
header .banner p {
    z-index: 8888;
    position: relative;
}

header .banner img {
    max-width: 100%
}

@-webkit-keyframes animateToLeft40 {
    0% {
        opacity: 0;
        -webkit-transform: translate(40px, 0);
        transform: translate(40px, 0);
    }

    /* 99.999% {
        opacity: 1;
        transform: translate(0, 0);
    } */
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes animateToLeft40 {
    0% {
        opacity: 0;
        -webkit-transform: translate(40px, 0);
        transform: translate(40px, 0);
    }

    /* 99.999% {
        opacity: 1;
        transform: translate(0, 0);
    } */
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes animateToLeft25 {
    0% {
        opacity: 0;
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }

    /* 99.999% {
        opacity: 1;
        transform: translate(0, 0);
    } */
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes animateToLeft25 {
    0% {
        opacity: 0;
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }

    /* 99.999% {
        opacity: 1;
        transform: translate(0, 0);
    } */
    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

header .banner img.artwork-1 {
    position: absolute;
    left: 29.98%;
    top: 211px;
    height: 323px;
    width: 727px;
    opacity: 0;
    -webkit-animation: animateToLeft40 1s ease-in-out forwards;
    animation: animateToLeft40 1s ease-in-out forwards;
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}

header .banner img.artwork-2-1 {
    position: absolute;
    left: 50%;
    top: 151px;
    height: 427px;
    width: 507px;
}

header .banner img.artwork-3 {
    position: absolute;
    left: 38.67%;
    top: 270px;
    height: 217px;
    width: 597px;
    opacity: 0;
    -webkit-animation: animateToLeft25 1s ease-in-out forwards;
    animation: animateToLeft25 1s ease-in-out forwards;
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

/* end banner */
/* end header */
/* start our process */
.our-process {
    background: url(../img/home-path-2.svg);
    background-size: cover;
    padding: 60px 0;
    position: relative;
    /* height: 2246px; */
}

.our-process .bullet {
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: #fff;
}

.our-process .bullet-2 {
    /* left: 33.5%; */
    left: 39.5%;
    top: 691px;
}

.our-process .bullet-3 {
    left: 50%;
    top: 1150px;
}

.our-process .bullet-4 {
    /* left: 41.5%; */
    left: 54%;
    top: 1585px;
}

/* .our-process .step-2 .bullet {
    left: 43%;
}
.our-process .step-3 .bullet {
    left: 60%;
} */
.our-process h2,
.our-process p,
.our-process h3 {
    color: #fff;
    text-align: left;
}

.our-process h2 {
    font-size: 64px;
}

.our-process .container>p:first-of-type {
    /* width: 70%; */
    margin-left: auto;
    text-align: right;
}

.our-process h2:nth-of-type(1) {
    margin-left: auto;
    width: 747px;
    font-size: 64.0px;
    color: #fff;
    text-align: right;
    font-weight: normal;
    margin-bottom: 0;
}

.our-process .step:nth-of-type(2) h3,
.our-process .step:nth-of-type(4) h3,
.our-process .step:nth-of-type(2) p,
.our-process .step:nth-of-type(4) p {
    margin-left: auto;
    /* width: 70%; */
    text-align: right;
}

.our-process img {
    width: 160px;
}

.our-process .timeline-path {
    width: 100%;
    position: absolute;
    top: 420px;
    left: 0;
    height: 1507px;
}

.our-process .timeline-path-sm {
    width: 4px;
    height: 100%;
    position: absolute;
    top: 430px;
    left: 4%;
}

.our-process .start-artwork {
    height: 193px;
    width: auto;
}

.our-process .end-artwork {
    width: auto;
    height: 220px;
}

.our-process .step {
    position: absolute;
}

.our-process .step-1 {
    top: 411px;
    width: 605px;
    margin: 0;
    left: 19.10%;
}

.our-process .step-1 h3 {
    font-size: 36px;
    line-height: 44px;
    top: 0;
    margin: 0;
    font-weight: normal;
}

@-webkit-keyframes animateOnScrollToLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes animateOnScrollToLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate(25px, 0);
        transform: translate(25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@-webkit-keyframes animateOnScrollToRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(-25px, 0);
        transform: translate(-25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes animateOnScrollToRight {
    0% {
        opacity: 0;
        -webkit-transform: translate(-25px, 0);
        transform: translate(-25px, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

.our-process .step h3,
.our-process .step p {
    opacity: 0;
}

.animatedOnScrollToLeft {
    -webkit-animation: animateOnScrollToLeft .4s ease-in-out forwards;
    animation: animateOnScrollToLeft .4s ease-in-out forwards;
}

.animatedOnScrollToRight {
    -webkit-animation: animateOnScrollToRight .4s ease-in-out forwards;
    animation: animateOnScrollToRight .4s ease-in-out forwards;
}

/* .our-process .step-3 h3,
.our-process .step-3 p,
.our-process .step-5 h3,
.our-process .step-5 p {
    animation: animateOnScrollToRight .4s ease-in-out;
} */
/* .our-process .step-1 h3,
.our-process .step-1 p,
.our-process .step-2 h3,
.our-process .step-2 p,
.our-process .step-4 h3,
.our-process .step-4 p {
    animation: animateOnScrollToLeft .4s ease-in-out;
}
.our-process .step-3 h3,
.our-process .step-3 p,
.our-process .step-5 h3,
.our-process .step-5 p {
    animation: animateOnScrollToRight .4s ease-in-out;
} */
/* .our-process .step-1 p {
    width: 605px;
    font-size: 24px;
    line-height: 29px;
} */
.our-process .step-2 {
    top: 620px;
    left: 50%;
    /* width: 40%; */
    width: 396px;
}

.our-process .step-2 h3 {
    width: 381px;
}

.our-process .step-2 p {
    /* width: 605px; */
    width: 100%;
}

.our-process .step-3 {
    top: 890px;
    left: 12%;
    width: 29%;
}

.our-process .step-3 h3 {
    width: 405px;
}

.our-process .step-3 p {
    /* width: 605px; */
    width: 100%;
}

.our-process .step-4 {
    top: 1174px;
    left: 66%;
    width: 25%;
}

.our-process .step-5 {
    top: 1820px;
    left: 42%;
    width: 50%;
}

.our-process .step-2,
.our-process .step-4 {
    text-align: right;
}

.our-process h3 {
    font-size: 36px;
    line-height: 44px;
    top: 0;
    margin: 0;
    font-weight: normal;
    margin-bottom: 12px;
    /* font-weight: 600; */
}

.our-process p {
    font-size: 24px;
    margin: 0;
}

.our-process .title p {
    text-align: right;
    width: 657px;
    font-family: "HelveticaNeue", Helvetica, Arial, serif;
    font-size: 24px;
    line-height: 29px;
    margin-left: auto;
    margin-top: 0;
}

.our-process .artwork {
    position: absolute;
}

.our-process .artwork-1 {
    position: absolute;
    top: 340px;
    left: 20px;
}

.our-process .artwork-2 {
    top: 1750px;
    left: 86%;
}

/* end our process */
/* start how it works */
.how-it-works {
    /* padding: 60px; */
    padding: 60px 0;
    opacity: 0;
}

.how-it-works .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.animatedOnScrollToTop {
    -webkit-animation: animationOnScrollToTop .4s ease-in-out forwards;
    animation: animationOnScrollToTop .4s ease-in-out forwards;
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

@-webkit-keyframes animationOnScrollToTop {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 25px);
        transform: translate(0, 25px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes animationOnScrollToTop {
    0% {
        opacity: 0;
        -webkit-transform: translate(0, 25px);
        transform: translate(0, 25px)
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

.how-it-works .feature {
    /* width: 33%; */
    float: left;
    overflow: hidden;
    text-align: center;
    width: 350px;
}

.how-it-works h2 {
    font-size: 48px;
    color: #414042;
    font-weight: normal;
    margin-bottom: 0;
}

.how-it-works p {
    font-size: 18px;
    color: #414042;
    line-height: 22px;
    padding: 30px;
}

/* end how it works */
/* start testimonials */
.testimonials {
    /* padding: 80px; */
    text-align: center;
    opacity: 0;
}

.testimonials .customer-img {
    padding: 0;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 20px auto;
}

.testimonials .customer-img .future-pacific-logo {
    position: absolute;
    right: 0;
    bottom: 0;
}

.testimonials p {
    font-size: 24px;
    color: #414042;
    line-height: 29px;
    width: 82%;
    margin: auto;
}

.testimonials .customer-name {
    font-size: 24px;
    color: rgba(74, 73, 74, 0.79);
    line-height: 29px;
}

/* end testimonials */
/* start cta */
.cta {
    /* padding: 80px; */
    padding: 80px 0;
    text-align: center;
    opacity: 0;
}

.cta button {
    background: #f15a29;
    color: #fff;
    height: 54px;
    width: 213px;
    border-radius: 27px;
    font-size: 24px;
    border: none;
}

.cta button.learn-more {
    background: #ecf0f1;
    color: #4a494a;
    margin: 60px 14px;
}

.cta h2 {
    font-size: 48px;
    color: #414042;
    font-weight: normal;
    margin-bottom: 0;
}

/* end cta */
/* start footer */
footer {
    background: url(../img/home-path-6.svg);
    background-size: cover;
    padding: 60px 0;
    padding-top: 120px;
}

footer .container {
    overflow: visible
}

footer .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

footer .col {
    float: left;
    position: relative;
}

footer .col-1x {
    width: 20%;
}

footer .col-2x {
    width: 40%;
    padding-right: 16%;
}

footer .company-logo {
    position: absolute;
    left: 0;
    top: -80px;
}

footer ul {
    list-style-type: none;
    -webkit-padding-start: 0;
    padding: 0;
}

footer ul li a {
    font-size: 16px;
    color: #000;
    line-height: 26px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

footer ul li a:hover,
footer li a:focus {
    color: #f15a29;
    text-decoration: none;
}

footer p {
    font-size: 18px;
    color: #000;
    line-height: 23px;
    font-weight: normal;
}

footer p span {
    font-weight: 600;
}

footer p .mail {
    color: #f15a29;
}

footer p .mail:hover,
footer p .mail:focus {
    text-decoration: none;
}

footer .follow-us img {
    width: 24px;
}

footer .copyright {
    font-size: 12px;
    color: #909090;
}

/* end footer */
/* media queries */
@media(max-width: 1280px) {
    .our-process .bullet-2 {
        left: 39.5%;
    }

    .our-process .bullet-4 {
        left: 54%;
    }

    .our-process .step-5 {
        left: 13%;
        width: 54%;
    }

    .our-process .end-artwork {
        width: auto;
        height: 156px;
    }

    .our-process .artwork-2 {
        left: auto;
        right: 19px;
    }

    .our-process .step-2 {
        width: 33%;
    }

    .our-process .step-3 {
        left: 7.5%;
        width: 30%;
    }

    .our-process .step-4 {
        left: 66%;
        width: 28%;
    }
}

@media(max-width: 1024px) {
    .our-process .step-1 {
        width: 70%;
        left: 26%;
    }

    .our-process .step-2 {
        top: 620px;
        left: 50%;
        width: 40%;
    }

    .our-process .step-3 {
        left: 6%;
        width: 39%;
    }

    .our-process .step-4 {
        left: 65%;
        width: 34%;
    }

    .our-process .step-5 {
        left: 13%;
        width: 67%;
    }

    /* .our-process .bullet-2 {
        left: 31.5%;
    } */
    /* .our-process .bullet-3 {
        left: 57.5%;
    } */
    /* .our-process .bullet-4 {
        left: 44%;
    } */
    .our-process .end-artwork {
        width: auto;
        height: 156px;
    }

    .our-process .artwork-2 {
        left: auto;
        right: 19px;
    }

    .how-it-works .features {
        display: block;
    }

    .how-it-works .feature {
        float: none;
        width: 100%;
    }

    .how-it-works p {
        padding: 5px;
    }

    .testimonials p {
        width: 100%;
    }
}

@media(max-width: 1024px) {

    /* was 992px */
    .top-menu {
        overflow: visible;
    }

    .top-menu .navbar {
        padding: 30px;
        display: none;
        /* background: #fff; */
        background-color: #fff;
        width: 100vw;
        /* height: -webkit-fit-content;
        height: -moz-fit-content; */
        /* height: fit-content; */
        height: auto;
        border-bottom: 1px solid rgba(241, 90, 41, .5);
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
    }

    .top-menu .navbar ul {
        float: none;
    }

    .top-menu .navbar li {
        display: block;
        margin: 16px;
    }

    .top-menu .navbar li a {
        font-size: 14px;
    }

    .top-menu .primary-button {
        font-size: 14px;
    }

    nav .primary-button {
        margin: 0;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    header .banner h1 {
        /* font-size: 50px;
        margin-top: 40px;
        margin-bottom: 20px; */
        font-size: 44px;
        margin-top: 40px;
        line-height: 64px;
        width: 50%;
    }

    nav {
        background: #fff;
        border-bottom: 1px solid #f15a29;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    /* header .banner input,
    header .banner button {
        border-radius: 20px;
        margin-left: 0;
        margin-bottom: 16px;
        width: 50%;
        display: block;
    } */
    .our-process {
        /* height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content; */
        height: auto;
        padding-bottom: 120px;
    }

    .our-process p {
        font-size: 24px;
        line-height: 30px;
    }

    .our-process h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .our-process .artwork-1,
    .our-process .artwork-2 {
        left: 1%;
    }

    .our-process .artwork-1 {
        top: 250px;
    }

    .our-process .bullet-4 {
        top: 1040px;
    }

    .timeline-path {
        display: none;
    }

    .our-process .bullet {
        height: 36px;
        width: 36px;
        left: 3%;
    }

    .our-process .bullet-2 {
        top: 763px;
    }

    .our-process .bullet-3 {
        top: 1005px;
    }

    .our-process .bullet-4 {
        top: 1222px;
    }

    .our-process .start-artwork,
    .our-process .end-artwork {
        height: auto;
    }

    .our-process .start-artwork {
        width: 100px;
    }

    .our-process .end-artwork {
        width: 80px;
    }

    .our-process .step-1,
    .our-process .title,
    .our-process .step-5 {
        padding-left: 40px;
    }

    .our-process .title h2 {
        text-align: right;
        font-size: 64px;
    }

    .our-process .step {
        position: static;
        width: 100%;
        padding: 0;
        margin-top: 40px;
    }

    .our-process .step-1 {
        margin-top: 100px;
    }

    .our-process .step-5 {
        margin-top: 80px;
    }

    .our-process .step h3 {
        width: 100%;
        font-size: 36px;
        line-height: 46px;
        margin-bottom: 6px;
    }

    .our-process .title p {
        text-align: right;
        font-size: 24px;
        line-height: 26px;
    }

    .how-it-works,
    .testimonials,
    .cta {
        padding: 40px 0;
    }

    .how-it-works h2 {
        font-size: 48px;
        line-height: 50px;
    }

    .how-it-works p {
        padding: 20px;
        line-height: 28px;
        margin: 0;
    }

    .testimonials p {
        font-size: 24px;
        line-height: 30px;
    }

    .testimonials .customer-name {
        font-size: 20px;
        line-height: 28px;
    }

    .cta button.learn-more {
        margin: 20px 10px;
    }

    .cta h2 {
        font-size: 36px;
        line-height: 42px;
    }

    .cta button {
        height: 54px;
        width: 213px;
        border-radius: 27px;
        font-size: 18px;
    }

    footer {
        padding: 20px;
        padding-top: 160px;
    }

    footer .copyright {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }

    /* header .banner button,
    header .banner input {
        width: 100%;
        display: block;
    } */
    header .banner h1 {
        width: 100%;
    }

    header .banner p {
        width: 100%;
    }

    /* header .banner img.artwork-1,
    header .banner img.artwork-2-1,
    header .banner img.artwork-2-2,
    header .banner img.artwork-3 {
        position: static;
        height: auto;
        width: 100%;
    } */
    header {
        height: auto;
    }

    header .banner img.artwork-1,
    header .banner img.artwork-2-1,
    header .banner img.artwork-2-2,
    header .banner img.artwork-3 {
        position: absolute;
        height: auto;
        width: 100%;
        left: 0;
        top: 480px;
        z-index: 9;
    }

    header .banner img.artwork-2-1 {
        position: static;
    }

    .our-process .timeline-path-sm {
        width: 5px;
        height: 100%;
        position: absolute;
        top: 270px;
        left: 7.5%;
    }

    .our-process .bullet {
        left: 5%;
    }

    .our-process .container {
        /* padding-left: 60px; */
        padding-left: 80px;
        /* padding-right: 60px; */
        padding-right: 40px;
    }

    .our-process .start-artwork,
    .our-process .end-artwork {
        height: auto;
    }

    .our-process .step p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }

    .our-process .title {
        padding: 0;
    }

    .our-process .title h2,
    .our-process .title p {
        width: 100%;
    }

    .how-it-works .features {
        display: block;
    }

    .how-it-works .feature {
        width: 100%;
    }

    /* footer {
        background-size: 200% 100%;
    } */
    footer {
        padding-top: 100px;
    }

    footer .row {
        /* display: block; */
        display: flex;
        flex-wrap: wrap;
    }

    footer .col {
        width: 100%;
    }
}

@media(min-width: 1024.9px) {
    .timeline-path-sm {
        display: none;
    }

    .navbar-toggler {
        display: none;
    }
}

@media (min-width: 1366px) {
    .our-process .bullet-2 {
        left: 39.5%;
    }

    .our-process .bullet-3 {
        left: 50%;
    }

    .our-process .bullet-4 {
        left: 54%;
    }

    .our-process .end-artwork {
        width: auto;
        height: 159px;
    }

    .our-process .step-5 {
        left: 13.57%;
    }

    .cta h2 {
        font-size: 36px;
    }
}

@media (max-width: 1400px) {
    .artwork-2-2 {
        display: none;
    }
}

@media (min-width: 1400px) {
    header .banner img.artwork-1 {
        top: 215px;
        height: 469px;
        width: 1053px;
        left: 26.11%;
    }

    header .banner img.artwork-3 {
        top: 279px;
        height: 372px;
        width: 1020px;
        margin: 0;
        left: 26.94%;
    }

    .artwork-2-2 {
        display: block;
        top: 232px;
        height: 561px;
        width: 941px;
        position: absolute;
        left: 33.19%;
        z-index: 9;
    }

    .artwork-2-1 {
        display: none;
    }

    .top-menu .navbar li a {
        font-size: 14px;
    }

    .top-menu .navbar {
        width: 50%;
    }

    .our-process .bullet {
        height: 50px;
        width: 50px;
    }

    .our-process .bullet-2 {
        left: 39.5%;
    }

    .our-process .bullet-3 {
        left: 48%;
    }

    .our-process .bullet-4 {
        left: 55%;
    }
}

@media (max-width: 576px) {

    header .banner input,
    header .banner button {
        border-radius: 20px;
        margin-left: 0;
        margin-bottom: 16px;
        width: 50%;
        display: block;
    }

    header .banner button,
    header .banner input {
        width: 100%;
        display: block;
    }
}

@media screen and (min-width: 768px) and (max-width: 1048px) {
    header {
        overflow: hidden;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .our-process .start-artwork {
        width: 203px;
    }

    .our-process .end-artwork {
        width: 159px;
    }

    .our-process .timeline-path-sm {
        /* left: 6.5%; */
        left: 75px;
    }

    .our-process .bullet {
        /* left: 5.25%; */
        left: 58px;
    }

    .container {
        padding-left: 13.6%;
        padding-right: 13.6%;
    }

    .our-process .container {
        padding-left: 26%;
    }

    .our-process h2:nth-of-type(1) {
        width: auto
    }

    .our-process .title p {
        width: auto
    }
}

@media screen and (min-width: 1284px) and (max-width: 1399px) {
    header {
        overflow: hidden;
    }

    .our-process .end-artwork {
        width: auto;
        height: 170px;
    }

    .our-process .step-5 {
        left: 13%;
    }
}

/*******/
@media (max-width: 767.99px) {
    .our-process .start-artwork {
        width: 140px;
    }

    .our-process .artwork-1,
    .our-process .artwork-2 {
        left: 20px;
    }

    .our-process .end-artwork {
        width: 112px;
    }

    .our-process .container {
        padding-left: 26%;
    }

    .our-process .timeline-path-sm {
        top: 400px;
        left: 65px;
    }

    .our-process .bullet {
        left: 49px;
    }

    /* start test */
    .how-it-works h2 {
        font-size: 32px;
    }

    .how-it-works p {
        font-size: 16px;
    }

    .testimonials p {
        font-size: 16px;
        line-height: 26px;
    }

    .testimonials .customer-name {
        font-size: 14px;
        line-height: 24px;
    }

    .cta h2 {
        font-size: 24px;
        line-height: 34px;
    }

    .cta button {
        height: 40px;
        width: 120px;
        border-radius: 20px;
        font-size: 14px;
    }

    /* end test */
}

/* extra small devices */
@media (max-width: 442px) {
    header .banner h1 {
        font-size: 44px;
        line-height: 54px;
    }
    header .banner p {
        font-size: 18px;
        line-height: 24px;
    }
    .our-process {
        height: auto;
        padding-bottom: 60px;
    }
    .our-process .start-artwork {
        width: 110px;
    }

    .our-process .end-artwork {
        width: 80px;
    }

    .our-process .timeline-path-sm {
        top: 300px;
        left: 44px;
        width: 3px;
    }

    .our-process .bullet {
        left: 36px;
        width: 18px;
        height: 18px;
    }

    .our-process .title h2 {
        font-size: 32px;
    }

    .our-process .title p {
        font-size: 13px;
        line-height: 20px;
    }

    .our-process .step h3 {
        width: 100%;
        font-size: 20px;
        line-height: 20px;
        /* margin-bottom: 6px; */
    }

    .our-process .step p {
        font-size: 13px;
        line-height: 20px;
    }

    .our-process .container {
        padding-right: 20px;
        padding-left: 25.78%;
    }

    .our-process .artwork-1,
    .our-process .artwork-2 {
        left: 8px;
    }

    .our-process .step-1 {
        margin-top: 60px;
    }

    .our-process .step-5 {
        margin-top: 40px;
    }

    .how-it-works {
        padding: 0;
        padding-bottom: 40px;
    }

    .how-it-works h2 {
        font-size: 26px;
        line-height: 26px;
    }

    .how-it-works p {
        font-size: 16px;
        font-size: 13px;
        line-height: 20px;
        padding-top: 10px;
    }

    .testimonials p {
        font-size: 14px;
        line-height: 21px;
    }

    .testimonials .customer-name {
        font-size: 13px;
        line-height: 20px;
    }

    .cta h2 {
        font-size: 22px;
        line-height: 28px;
    }

    .cta button {
        height: 32px;
        width: 110px;
        border-radius: 18px;
        font-size: 13px;
    }

    footer {
        padding-top: 80px;
    }

    footer p,
    footer ul li a {
        font-size: 13px;
        line-height: 20px;
    }

    footer .company-logo {
        position: absolute;
        left: 0;
        top: -40px;
        height: auto;
        width: 80px;
    }

    footer .col {
        width: 50%;
        padding-right: 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .our-process .step-1 {
        width: 459px;
    }

    .our-process .step-2 {
        width: 479px;
        margin-top: 120px;
    }

    .our-process .step-3 {
        width: 481px;
    }

    .our-process .step-4 {
        width: 329px;
        margin-top: 80px;
    }

    .our-process .step-5 {
        width: 508px;
    }

    footer .container {
        padding-left: 95px;
        padding-right: 95px;
    }
}

@media screen and (min-width: 1024.1px) and (max-width: 1437.99px) {
    .our-process {
        height: 2246px;
    }

    .our-process .title p {
        width: 657px;
    }

    .our-process .step-1 {
        top: 411px;
    }

    .our-process .step-2 {
        width: 396px;
    }

    .our-process .step-3 {
        width: 398px;
    }

    .our-process .step-4 {
        width: 329px;
    }

    .our-process .step-5 {
        width: 696px;
    }
}

@media (min-width: 1438px) {
    header .banner p {
        width: 425px;
    }

    .our-process {
        height: 2246px;
    }

    .our-process .step-2 {
        width: 605px;
    }

    .our-process .step-3 {
        width: 520px;
    }

    .our-process .step-4 {
        left: 62%;
        width: 532px;
    }

    .our-process .step-5 {
        left: auto !important;
        right: 18.40%;
        width: 788px;
    }

    .cta h2 {
        font-size: 48px;
    }

    .cta button {
        width: 200px;
    }
}